<section class="container-fluid engagement-home" style="margin: 0px; padding: 0px;">
  <img
    src="assets/images/thoranai.png"
    class="img-fluid"
    style="width: 100vw"
  />
  <div class="row" style="padding: 0px">
    <div class="col-12 hero-center" style="padding: 0px">
      <img
        src="assets/images/vinayagar.svg"
        alt="Vinayagar"
        class="img-fluid vinayagar-pic"
      />
      <div class="">
        <div class="top_1">
          <p class="text-center">With the divine blessings of God</p>
        </div>
        <div class="center_text_content">
          <div class="welcome" style="margin-bottom: 8px">
            <p>
              We cordially invite you to the
              <span><br />Engagement Ceremony</span><br />
              of
            </p>
          </div>
          <div class="groom" style="margin-bottom: 12px">
            <div class="names">
              <p>
                Govarthanan
                <span>B.Sc (CS)</span>
              </p>
            </div>

            <div class="next">
              <p>Son of</p>
            </div>

            <div class="father-mother">
              <p>Selvaganessane & Mahalakshmi</p>
            </div>
          </div>

          <div class="bride" style="margin-bottom: 12px">
            <div class="names">
              <p>Kavibharathi <span>M.Sc(Psy)</span></p>
            </div>
            <div class="next">
              <p>Daughter of</p>
            </div>
            <div class="father-mother">
              <p>Ramachandiran & Indira</p>
            </div>
          </div>
          <div class="event-date">
            <p>
              Wednesday
              <span class="highlight">25<sup>th</sup></span>
              March 2026
              <span class="time">9:00 AM – 10:30 AM</span>
            </p>
          </div>
        </div>

        <div class="row dir-row">
          <div class="col-12 text-center mb-3">
            <a
              class="btn-primary-custom"
              href="https://www.google.com/maps/search/?api=1&query=Vasantham+ThiruMana+Mandapam+Bahour+Puducherry"
              target="_blank"
            >
              <i class="ri-map-pin-fill"></i>
              Get Location
            </a>
          </div>

          <div class="col-12 text-center mb-2">
            <a
              class="btn-secondary-custom"
              href="https://www.google.com/calendar/render?action=TEMPLATE&text=Govarthanan+%26+Kavibharathi+Engagement&dates=20260325T033000Z/20260325T050000Z&details=Engagement+Ceremony&location=Vasantham+ThiruMana+Mandapam+Bahour+Puducherry"
              target="_blank"
            >
              <i class="ri-calendar-fill"></i>
              Save Date
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bot">
    <img src="assets/images/bottom-image.png" class="img-fluid" />
  </div>
  <!-- <div class="left">
    <img src="assets/images/left.png" class="img-fluid" />
  </div>
  <div class="right">
    <img src="assets/images/right.png" class="img-fluid" />
  </div> -->
</section>
