<section class="container-fluid engagement-home">
  <img src="assets/images/thoranai.png" class="img-fluid" style="width: 100vw;">
  <div class="row" style="padding: 0px;">
    <div class="col-12 hero-center" style="padding: 0px;">
      <img
        src="assets/images/vinayagar.svg"
        alt="Vinayagar"
        class="img-fluid vinayagar-pic"
      />
      <div class="">
      <div class="top_1">
        <p class="text-center">With the divine blessings of God</p>
      </div>
<div class="center_text_content">
      <div class="welcome">
        <p>We cordially invite you to the <span><br>Engagement Ceremony</span><span><br> of</span></p>
      </div>
      <div class="">
      <div class="names">
        <p>Govarthanan <span>B.Sc(CS)</span></p>
      </div>
      <div class="next">
        <p>Son of</p>
      </div>
      <div class="father">
        <p>Selvaganessane & Mahalakshmi</p>
      </div>
      </div>

      <div class="">
      <div class="names">
        <p>Kavibharathi  <span>M.Sc(Psy)</span></p>
      </div>
      <div class="next">
        <p>Daughter of</p>
      </div>
      <div class="father">
        <p>Ramachandiran & Indira</p>
      </div>

      </div>
</div>

      <div class="row d-flex justify-content-between align-items-center mt-5">
        <div class="col-6 d-flex justify-content-between align-items-center mt-5">
          <div class="dir">
            <p>Direction</p>
          </div>
        </div>

        <div class="col-6 d-flex justify-content-between align-items-center mt-5">
          <div class="dir">
            <p>Save Date</p>
          </div>
        </div>

      </div>

      </div>
    </div>
  </div>
  <div class="bot">
    <img src="assets/images/bot.png" class="img-fluid">
  </div>
  <div class="left">
    <img src="assets/images/left.png" class="img-fluid">
  </div>
  <div class="right">
    <img src="assets/images/right.png" class="img-fluid">
  </div>
</section>
