.engagement-home {
  height: 100dvh;
  background-image: url('../../../assets/images/thoranai.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vinayagar-pic {
  max-width: 300px;
}

.vinayagar-pic{
  position: absolute;
  top: 75px;
}
.top_1{
  position: absolute;
  top: 130px;
}
.bot{
  position: absolute;
  bottom: 0px;
}

.left{
  position: absolute;
  bottom: 0px;
  left: -3px;
}

.right{
  position: absolute;
  bottom: 0px;
  right: -3px;
}

*{
  margin: 0px !important;
}

.welcome{
  text-align: center;
  line-height: 30px;
}

.names p{
  text-align: center;
}

.next p{
  text-align: center;
}

.father p{
  text-align: center;
}


.dir{
  border: 1px solid red;
  text-align: center;
  padding: 6px 30px;
}

.dir p{
  white-space: nowrap;
}