.engagement-home {
  /* height: 100dvh;
  background-image: url('../../../assets/images/thoranai.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* .center_text_content {
  margin-top: 600px;
} */

.hero-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vinayagar-pic {
  max-width: 300px;
}

.vinayagar-pic {
  position: absolute;
  top: 65px;
}
.top_1 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top_1 p {
  position: absolute;
  top: 110px;
  left: 0;
  right: 0;
  margin-bottom: 0px;
  font-family: "Abyssinica SIL", serif;
  font-size: 12px;
  color: #333333;

  text-align: center;
  white-space: nowrap;
}
.left {
  position: absolute;
  bottom: 0px;
  left: -3px;
  z-index: -9;
}

.right {
  position: absolute;
  bottom: 0px;
  right: -3px;
  z-index: -9;
}

.welcome p {
  font-family: "Abyssinica SIL", serif;
  font-size: 16px;
  color: #333333;
  text-align: center;
  margin-bottom: 0px;
}

.welcome p span {
  font-family: "FallInLove", cursive;
  font-size: 24px;
  color: #185e5a;
}

/* Name */
.names p {
  font-family: "FallInLove", cursive;
  font-size: 26px;
  color: #185e5a;
  text-align: center;
  margin-bottom: 0px;
}

/* Degree */
.names p span {
  font-family: "Abyssinica SIL", serif;
  font-size: 10px;
  color: #185e5a;
  margin-left: 4px;
  margin-bottom: 0px;
}

/* Son of */
.next p {
  font-family: "DM Serif Display", serif;
  font-size: 12px;
  color: #333333;
  text-align: center;
  margin-bottom: 0px;
}

/* Parents */
.father-mother p {
  font-family: "DM Serif Display", serif;
  font-size: 14px;
  color: #333333;
  text-align: center;
  margin-bottom: 0px;
}

.event-date p {
  font-family: "Abyssinica SIL", serif;
  font-size: 16px;
  color: #333333;
  text-align: center;
}

.event-date sup {
  font-size: 10px;
}

/* 25th */
.event-date .highlight {
  font-family: "DM Serif Display", serif;
  color: #185e5a;
}

/* Time */
.event-date .time {
  font-family: "DM Serif Display", serif;
  color: #185e5a;
}


.btn-primary-custom,
.btn-secondary-custom{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:8px;

  width:100%;
  padding:8px;

  font-size:15px;
  font-weight:500;

  border-radius:8px;

  text-decoration:none;
  transition:0.3s;
}

/* PRIMARY */

.btn-primary-custom{
  background:#185E5A;
  color:#fff;
}

.btn-primary-custom:hover{
  background:#134c49;
}


/* SECONDARY */

.btn-secondary-custom{
  background:transparent;
  border:2px solid #185E5A;
  color:#185E5A;
}

.btn-secondary-custom:hover{
  background:#185E5A;
  color:white;
}


/* ICON SIZE */

.btn-primary-custom i,
.btn-secondary-custom i{
  font-size:18px;
}
